/*  your css code here. If applicable */
*{
	background-color: rgb(135,206,235)
}

article {
	background-color: black;
}
article p:first-child{
	color:white;
}
article p:nth-child(2){
	color: initial;
}
article p:last-child{
	color:red;
}
ul li{
	width:50%;
	padding:10px;
	background-color: gray;
}
ul li:nth-child(odd){
	background-color: white;
}
	ul li:first-child,
	ul li:last-child { 
		font-size:22px}
}
ul li:nth-last-child{
	color: pink;
}
